*{
    margin: 0;
    padding: 0;
}
body{
    background:rgba(9, 255, 0, 0.116) ;
}
.divClass {
    padding: 5px 10px;
    margin: 20px;
    text-align: center;
    position: relative;
    background-color: rgba(9, 255, 0, 0.116);
    min-height: 100px;
    border-radius: 20px;
}
.divClass span {
    text-align: left;
    position: absolute;
    left: 10%;
    top: 50%;
}
.reactclass{
    color: black;
    float: right;
}
.imgReactClass {
    width:20px;
    height: 20px;
    margin: 0 10px 10000px 10px;
    position: absolute;
    top:5px;
    right:13px;
}
.imageClass {
    height:40px;
    width: 40px;;
    border-radius: 50px;
    float: left;
}
.titleClass{
    text-align: left;
    display: table-caption;
    margin: 10px 25px;
    text-decoration: underline;
}
.delclass{
    margin-left: 600px;
    height: 20px;
    width: 20px;
}
.divvClass{
    padding: 5px 10px;
    margin: 20px;
    position: relative;
    background-color: rgba(9, 255, 0, 0.178);
    min-height: 70px;
    border-radius: 20px;
}
.divvClass h3 {
    position: absolute;
    left: 9%;
    top: 50%;
}
.titleeClass{
    text-align: left;
    display: table-caption;
    margin: 10px 25px;
    text-decoration: underline;
}
.imageeClass {
    height:40px;
    width: 40px;;
    border-radius: 50px;
    float: left;
}
.file input{
    background: rgba(9, 255, 0, 0.116);
    border-radius:  1px solid rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    width: 200px;
    height: 75px;
    margin-left:550px ;
    font-size: large;
    color: rgba(128, 128, 128, 0.432);
}
button{
    background:rgba(9, 255, 0, 0.116) ;
    border-radius:  1px solid rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    width: 60px;
    height: 20px;
    margin-left: 626px;
    color: rgba(128, 128, 128, 0.432);
}